body {
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

#carSec {
    right: 0px;
    height: 120px;
    width: 196px;
    position: absolute;
    bottom: 101px;
}

img {
    height: 100%;
    width: 100%;
}

#signal img {
    height: 170px;
    width: 160px;
}

#signal {
    position: relative;
}

#circle1 {
    cursor: pointer;
    position: absolute;
    height: 35px;
    width: 30px;
    top: 25px;
    left: 63px;
    opacity: 100%;
    background-color: red;
    border-radius: 50%;
}

#circle2 {
    cursor: pointer;
    position: absolute;
    opacity: 50%;
    height: 35px;
    width: 30px;
    top: 65px;
    left: 63px;
    background-color: yellow;
    border-radius: 50%;
}

#circle3 {
    opacity: 50%;
    cursor: pointer;
    position: absolute;
    height: 35px;
    width: 30px;
    top: 110px;
    left: 63px;
    background-color: rgb(12, 184, 12);
    border-radius: 50%;
}